body{
    font-family: Arial;
}
#container{
    width: 1024px;
    margin: 0 auto;
}
.pelicula{
    display: inline-block;
    width: 300px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}

